* {
  margin: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}

.bottom-gnb {
  text-decoration: none;
  /* margin: 0 20px; */
  color: #000;
  font-weight: 700;
  border-radius: 8px;
  font-size: 13px;
  /* flex: 1 1 auto; */
  text-align: center;
  /* margin: 0px 16px; */
}

.p-20 {
  padding: 20px;
  border: 1px solid blue;
}
input {
  box-sizing: border-box;
  padding: 10px;
  width: 400px;
  height: 200px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
}

.article-change {
  background-color: purple;
  color: #fff;
  /* margin-left: 20px; */
}

.article-wrap {
  margin-top: 20px;
}

.list-detail {
  text-decoration: none;
}

.id-value {
  display: none;
}

.header {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.link-wrap {
  margin-right: auto;
}

.link-wrap .bottom-gnb {
  margin: 0 40px;
}

.right-login {
  margin-left: auto;
}

.main-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sub-tit {
  font-size: 14px;
  margin-left: 12px;
}

.delete-btn {
  opacity: 1;
  transition: 0.5s;
}

.opacity {
  opacity: 1;
}

.detail-wrap {
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  /* padding: 20px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
}

.inner {
  width: 1440px;
  margin: 0px auto;
  border: 1px solid red;
}

.write-btn {
  background-color: orange;
  color: #fff;
  margin: 12px 0px;
}

.list-item {
  opacity: 1;
  display: block;
  transition: all 1s;
}

.user-hello {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}

.user-strong {
  font-weight: 800;
}

.user-name {
  padding-top: 12px;
}

.log-btn {
  margin-left: 20px;
  background-color: #3a4e2b;
  color: #fff;
  border-radius: 60px;
}

.signup-form {
  margin-top: 40px;
}

.signup-form input {
  height: 40px;
}

/* main page */

.main-visual {
  height: 100vh;
  position: relative;
}

.main-subtxt {
  position: absolute;
  left: 0;
  bottom: 20vh;
}
.main-subtxt2 {
  position: absolute;
  right: 20px;
  bottom: 30vh;
}

.main-subtxt2 p:nth-child(1) {
  font-size: 32px;
  font-weight: 700;
}

.main-subtxt2 p:nth-child(2) {
  font-size: 15px;
}

.main-bg {
  width: 500px;
  height: 500px;
  /* background: url(/public/main-visual.png) no-repeat; */
  position: absolute;
  left: 30%;
  top: 40%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  /* background-size: cover; */
}

.main-bg img {
  width: 100%;
  height: 100%;
}

.main-visual-txt {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.main-visual-txt p {
  font-size: 80px;
  font-weight: 900;
}

.main-visual-txt h2 {
  font-size: 140px;
  font-weight: 900;
}
